<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ticket.mapper.TicketStockMapper">

    <resultMap type="TicketStock" id="TicketStockResult">
        <id     property="stockId" column="stock_id" />
        <result property="activityId" column="activity_id" />
        <result property="sessionId" column="session_id" />
        <result property="typeId" column="type_id" />
        <result property="totalStock" column="total_stock" />
        <result property="availableStock" column="available_stock" />
        <result property="lockedStock" column="locked_stock" />
        <result property="soldStock" column="sold_stock" />
        <result property="version" column="version" />
        <result property="status" column="status" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
        <result property="remark" column="remark" />
    </resultMap>

    <sql id="selectTicketStockVo">
        select stock_id, activity_id, session_id, type_id, total_stock, available_stock, locked_stock, sold_stock, version, status, create_by, create_time, update_by, update_time, remark
        from ticket_stock
    </sql>

    <select id="selectTicketStockList" parameterType="TicketStock" resultMap="TicketStockResult">
        <include refid="selectTicketStockVo"/>
        <where>
            <if test="activityId != null">
                and activity_id = #{activityId}
            </if>
            <if test="sessionId != null">
                and session_id = #{sessionId}
            </if>
            <if test="typeId != null">
                and type_id = #{typeId}
            </if>
            <if test="status != null and status != ''">
                and status like concat('%', #{status}, '%')
            </if>
        </where>
        order by stock_id desc
    </select>

    <select id="selectTicketStockById" parameterType="Long" resultMap="TicketStockResult">
        <include refid="selectTicketStockVo"/>
        where stock_id = #{stockId}
    </select>

    <select id="selectTicketStockByTypeId" parameterType="Long" resultMap="TicketStockResult">
        <include refid="selectTicketStockVo"/>
        where type_id = #{typeId}
    </select>

    <insert id="insertTicketStock" parameterType="TicketStock" useGeneratedKeys="true" keyProperty="stockId">
        insert into ticket_stock
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="activityId != null">activity_id,</if>
            <if test="sessionId != null">session_id,</if>
            <if test="typeId != null">type_id,</if>
            <if test="totalStock != null">total_stock,</if>
            <if test="availableStock != null">available_stock,</if>
            <if test="lockedStock != null">locked_stock,</if>
            <if test="soldStock != null">sold_stock,</if>
            <if test="version != null">version,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            create_time,
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="activityId != null">#{activityId},</if>
            <if test="sessionId != null">#{sessionId},</if>
            <if test="typeId != null">#{typeId},</if>
            <if test="totalStock != null">#{totalStock},</if>
            <if test="availableStock != null">#{availableStock},</if>
            <if test="lockedStock != null">#{lockedStock},</if>
            <if test="soldStock != null">#{soldStock},</if>
            <if test="version != null">#{version},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            sysdate(),
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateTicketStock" parameterType="TicketStock">
        update ticket_stock
        <set>
            <if test="activityId != null">activity_id = #{activityId},</if>
            <if test="sessionId != null">session_id = #{sessionId},</if>
            <if test="typeId != null">type_id = #{typeId},</if>
            <if test="totalStock != null">total_stock = #{totalStock},</if>
            <if test="availableStock != null">available_stock = #{availableStock},</if>
            <if test="lockedStock != null">locked_stock = #{lockedStock},</if>
            <if test="soldStock != null">sold_stock = #{soldStock},</if>
            <if test="version != null">version = #{version},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate(),
            <if test="remark != null">remark = #{remark},</if>
        </set>
        where stock_id = #{stockId}
    </update>

    <update id="lockStockByTypeId">
        update ticket_stock
        set available_stock = available_stock - #{quantity},
            locked_stock = locked_stock + #{quantity},
            version = version + 1,
            update_time = sysdate()
        where type_id = #{typeId}
          and status = '0'
          and available_stock >= #{quantity}
    </update>

    <delete id="deleteTicketStockById" parameterType="Long">
        delete from ticket_stock where stock_id = #{stockId}
    </delete>

    <delete id="deleteTicketStockByIds" parameterType="Long">
        delete from ticket_stock where stock_id in
        <foreach collection="array" item="stockId" open="(" separator="," close=")">
            #{stockId}
        </foreach>
    </delete>
</mapper>
