<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ticket.mapper.TicketTypeMapper">

    <resultMap type="TicketType" id="TicketTypeResult">
        <id     property="typeId" column="type_id" />
        <result property="activityId" column="activity_id" />
        <result property="sessionId" column="session_id" />
        <result property="typeName" column="type_name" />
        <result property="typeCode" column="type_code" />
        <result property="price" column="price" />
        <result property="marketPrice" column="market_price" />
        <result property="totalStock" column="total_stock" />
        <result property="soldStock" column="sold_stock" />
        <result property="lockedStock" column="locked_stock" />
        <result property="minBuy" column="min_buy" />
        <result property="maxBuy" column="max_buy" />
        <result property="status" column="status" />
        <result property="sort" column="sort" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
        <result property="remark" column="remark" />
    </resultMap>

    <sql id="selectTicketTypeVo">
        select type_id, activity_id, session_id, type_name, type_code, price, market_price, total_stock, sold_stock, locked_stock, min_buy, max_buy, status, sort, create_by, create_time, update_by, update_time, remark
        from ticket_type
    </sql>

    <select id="selectTicketTypeList" parameterType="TicketType" resultMap="TicketTypeResult">
        <include refid="selectTicketTypeVo"/>
        <where>
            <if test="activityId != null">
                and activity_id = #{activityId}
            </if>
            <if test="sessionId != null">
                and session_id = #{sessionId}
            </if>
            <if test="typeName != null and typeName != ''">
                and type_name like concat('%', #{typeName}, '%')
            </if>
            <if test="status != null and status != ''">
                and status like concat('%', #{status}, '%')
            </if>
        </where>
        order by type_id desc
    </select>

    <select id="selectTicketTypeById" parameterType="Long" resultMap="TicketTypeResult">
        <include refid="selectTicketTypeVo"/>
        where type_id = #{typeId}
    </select>

    <insert id="insertTicketType" parameterType="TicketType" useGeneratedKeys="true" keyProperty="typeId">
        insert into ticket_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="activityId != null">activity_id,</if>
            <if test="sessionId != null">session_id,</if>
            <if test="typeName != null">type_name,</if>
            <if test="typeCode != null">type_code,</if>
            <if test="price != null">price,</if>
            <if test="marketPrice != null">market_price,</if>
            <if test="totalStock != null">total_stock,</if>
            <if test="soldStock != null">sold_stock,</if>
            <if test="lockedStock != null">locked_stock,</if>
            <if test="minBuy != null">min_buy,</if>
            <if test="maxBuy != null">max_buy,</if>
            <if test="status != null">status,</if>
            <if test="sort != null">sort,</if>
            <if test="createBy != null">create_by,</if>
            create_time,
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="activityId != null">#{activityId},</if>
            <if test="sessionId != null">#{sessionId},</if>
            <if test="typeName != null">#{typeName},</if>
            <if test="typeCode != null">#{typeCode},</if>
            <if test="price != null">#{price},</if>
            <if test="marketPrice != null">#{marketPrice},</if>
            <if test="totalStock != null">#{totalStock},</if>
            <if test="soldStock != null">#{soldStock},</if>
            <if test="lockedStock != null">#{lockedStock},</if>
            <if test="minBuy != null">#{minBuy},</if>
            <if test="maxBuy != null">#{maxBuy},</if>
            <if test="status != null">#{status},</if>
            <if test="sort != null">#{sort},</if>
            <if test="createBy != null">#{createBy},</if>
            sysdate(),
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateTicketType" parameterType="TicketType">
        update ticket_type
        <set>
            <if test="activityId != null">activity_id = #{activityId},</if>
            <if test="sessionId != null">session_id = #{sessionId},</if>
            <if test="typeName != null">type_name = #{typeName},</if>
            <if test="typeCode != null">type_code = #{typeCode},</if>
            <if test="price != null">price = #{price},</if>
            <if test="marketPrice != null">market_price = #{marketPrice},</if>
            <if test="totalStock != null">total_stock = #{totalStock},</if>
            <if test="soldStock != null">sold_stock = #{soldStock},</if>
            <if test="lockedStock != null">locked_stock = #{lockedStock},</if>
            <if test="minBuy != null">min_buy = #{minBuy},</if>
            <if test="maxBuy != null">max_buy = #{maxBuy},</if>
            <if test="status != null">status = #{status},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate(),
            <if test="remark != null">remark = #{remark},</if>
        </set>
        where type_id = #{typeId}
    </update>

    <delete id="deleteTicketTypeById" parameterType="Long">
        delete from ticket_type where type_id = #{typeId}
    </delete>

    <delete id="deleteTicketTypeByIds" parameterType="Long">
        delete from ticket_type where type_id in
        <foreach collection="array" item="typeId" open="(" separator="," close=")">
            #{typeId}
        </foreach>
    </delete>
</mapper>
