<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ticket.mapper.TicketOrderMapper">

    <resultMap type="TicketOrder" id="TicketOrderResult">
        <id     property="orderId" column="order_id" />
        <result property="orderNo" column="order_no" />
        <result property="userId" column="user_id" />
        <result property="openid" column="openid" />
        <result property="activityId" column="activity_id" />
        <result property="sessionId" column="session_id" />
        <result property="orderTitle" column="order_title" />
        <result property="totalQuantity" column="total_quantity" />
        <result property="totalAmount" column="total_amount" />
        <result property="discountAmount" column="discount_amount" />
        <result property="payAmount" column="pay_amount" />
        <result property="payStatus" column="pay_status" />
        <result property="orderStatus" column="order_status" />
        <result property="source" column="source" />
        <result property="clientIp" column="client_ip" />
        <result property="expireTime" column="expire_time" />
        <result property="payTime" column="pay_time" />
        <result property="cancelTime" column="cancel_time" />
        <result property="refundTime" column="refund_time" />
        <result property="checkinTime" column="checkin_time" />
        <result property="transactionId" column="transaction_id" />
        <result property="prepayId" column="prepay_id" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
        <result property="remark" column="remark" />
    </resultMap>

    <sql id="selectTicketOrderVo">
        select order_id, order_no, user_id, openid, activity_id, session_id, order_title, total_quantity, total_amount, discount_amount, pay_amount, pay_status, order_status, source, client_ip, expire_time, pay_time, cancel_time, refund_time, checkin_time, transaction_id, prepay_id, create_by, create_time, update_by, update_time, remark
        from ticket_order
    </sql>

    <select id="selectTicketOrderList" parameterType="TicketOrder" resultMap="TicketOrderResult">
        <include refid="selectTicketOrderVo"/>
        <where>
            <if test="orderNo != null and orderNo != ''">
                and order_no like concat('%', #{orderNo}, '%')
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="orderStatus != null and orderStatus != ''">
                and order_status like concat('%', #{orderStatus}, '%')
            </if>
            <if test="payStatus != null and payStatus != ''">
                and pay_status like concat('%', #{payStatus}, '%')
            </if>
        </where>
        order by order_id desc
    </select>

    <select id="selectTicketOrderById" parameterType="Long" resultMap="TicketOrderResult">
        <include refid="selectTicketOrderVo"/>
        where order_id = #{orderId}
    </select>

    <select id="countUnpaidOrder" resultType="int">
        select count(1)
        from ticket_order
        where user_id = #{userId}
          and activity_id = #{activityId}
          and order_status = '0'
    </select>

    <select id="countEffectiveQuantity" resultType="int">
        select ifnull(sum(total_quantity), 0)
        from ticket_order
        where user_id = #{userId}
          and activity_id = #{activityId}
          and order_status in ('0', '1', '5')
    </select>

    <insert id="insertTicketOrder" parameterType="TicketOrder" useGeneratedKeys="true" keyProperty="orderId">
        insert into ticket_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNo != null">order_no,</if>
            <if test="userId != null">user_id,</if>
            <if test="openid != null">openid,</if>
            <if test="activityId != null">activity_id,</if>
            <if test="sessionId != null">session_id,</if>
            <if test="orderTitle != null">order_title,</if>
            <if test="totalQuantity != null">total_quantity,</if>
            <if test="totalAmount != null">total_amount,</if>
            <if test="discountAmount != null">discount_amount,</if>
            <if test="payAmount != null">pay_amount,</if>
            <if test="payStatus != null">pay_status,</if>
            <if test="orderStatus != null">order_status,</if>
            <if test="source != null">source,</if>
            <if test="clientIp != null">client_ip,</if>
            <if test="expireTime != null">expire_time,</if>
            <if test="payTime != null">pay_time,</if>
            <if test="cancelTime != null">cancel_time,</if>
            <if test="refundTime != null">refund_time,</if>
            <if test="checkinTime != null">checkin_time,</if>
            <if test="transactionId != null">transaction_id,</if>
            <if test="prepayId != null">prepay_id,</if>
            <if test="createBy != null">create_by,</if>
            create_time,
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNo != null">#{orderNo},</if>
            <if test="userId != null">#{userId},</if>
            <if test="openid != null">#{openid},</if>
            <if test="activityId != null">#{activityId},</if>
            <if test="sessionId != null">#{sessionId},</if>
            <if test="orderTitle != null">#{orderTitle},</if>
            <if test="totalQuantity != null">#{totalQuantity},</if>
            <if test="totalAmount != null">#{totalAmount},</if>
            <if test="discountAmount != null">#{discountAmount},</if>
            <if test="payAmount != null">#{payAmount},</if>
            <if test="payStatus != null">#{payStatus},</if>
            <if test="orderStatus != null">#{orderStatus},</if>
            <if test="source != null">#{source},</if>
            <if test="clientIp != null">#{clientIp},</if>
            <if test="expireTime != null">#{expireTime},</if>
            <if test="payTime != null">#{payTime},</if>
            <if test="cancelTime != null">#{cancelTime},</if>
            <if test="refundTime != null">#{refundTime},</if>
            <if test="checkinTime != null">#{checkinTime},</if>
            <if test="transactionId != null">#{transactionId},</if>
            <if test="prepayId != null">#{prepayId},</if>
            <if test="createBy != null">#{createBy},</if>
            sysdate(),
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateTicketOrder" parameterType="TicketOrder">
        update ticket_order
        <set>
            <if test="orderNo != null">order_no = #{orderNo},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="openid != null">openid = #{openid},</if>
            <if test="activityId != null">activity_id = #{activityId},</if>
            <if test="sessionId != null">session_id = #{sessionId},</if>
            <if test="orderTitle != null">order_title = #{orderTitle},</if>
            <if test="totalQuantity != null">total_quantity = #{totalQuantity},</if>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
            <if test="discountAmount != null">discount_amount = #{discountAmount},</if>
            <if test="payAmount != null">pay_amount = #{payAmount},</if>
            <if test="payStatus != null">pay_status = #{payStatus},</if>
            <if test="orderStatus != null">order_status = #{orderStatus},</if>
            <if test="source != null">source = #{source},</if>
            <if test="clientIp != null">client_ip = #{clientIp},</if>
            <if test="expireTime != null">expire_time = #{expireTime},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
            <if test="cancelTime != null">cancel_time = #{cancelTime},</if>
            <if test="refundTime != null">refund_time = #{refundTime},</if>
            <if test="checkinTime != null">checkin_time = #{checkinTime},</if>
            <if test="transactionId != null">transaction_id = #{transactionId},</if>
            <if test="prepayId != null">prepay_id = #{prepayId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate(),
            <if test="remark != null">remark = #{remark},</if>
        </set>
        where order_id = #{orderId}
    </update>

    <delete id="deleteTicketOrderById" parameterType="Long">
        delete from ticket_order where order_id = #{orderId}
    </delete>

    <delete id="deleteTicketOrderByIds" parameterType="Long">
        delete from ticket_order where order_id in
        <foreach collection="array" item="orderId" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>
</mapper>
